<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post">

    <div th:each="bill : ${bills}" class="checkbox">
    <input type="checkbox" name="billsIds" th:value="${bill.id}" th:id="${bill.id}"/>
    <label th:for="${bill.id}" th:text="${bill.name}"></label>
    <br />
</div>

    <input type="submit" value="Remove Bill" />
</form>

</body>
</html>